<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.operatorchoreography.generator.mapper.OperatorCategoriesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.operatorchoreography.generator.model.OperatorCategories">
        <id column="id" property="id" />
        <result column="category_code" property="categoryCode" />
        <result column="category_name" property="categoryName" />
        <result column="description" property="description" />
        <result column="icon" property="icon" />
        <result column="sort_order" property="sortOrder" />
        <result column="status" property="status" />
        <result column="if_delete" property="ifDelete" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, category_code, category_name, description, icon, sort_order, status, if_delete, created_at, updated_at
    </sql>

</mapper>
